<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
     .btn-primary {
    color: #fff;
    background-color: #fc2d3e;
    border-color: #fc2d3e;
    }
    .btn-primary:hover {
    color: #fff; 
    background-color: #fb5f6c;
    border-color: #fb5f6c;   
    }
    </style>
</head>

<body class="bg-light">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="card shadow">
                    <div class="card-body">

                        <h3 class="text-center mb-4">Login</h3>

                        
                        {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endif %}

                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-lg w-100 py-3 fw-bold">
                                Login
                            </button>
                        </form>

                        <div class="text-center mt-4">
                            <small class="text-muted">
                                Don't have an account?
                                <a href="{% url 'registration' %}" class="text-decoration-none fw-semibold">Sign up</a>
                            </small>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>