

.profile-page {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.profile-card {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 700px;
    border-radius: 18px;
    padding: 40px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-5px);
}


.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.profile-avatar {
    width: 70px;
    height: 70px;
    background: #2563eb;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-basic h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.profile-basic p {
    margin: 4px 0 0;
    color: white;
}



.profile-details {
    margin-top: 20px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #f1f1f1;
}

.detail-label {
    font-weight: 600;
    color: white;
}

.detail-value {
    color: white;
}

.profile-actions {
    text-align: center;
    margin-top: 30px;
}

.logout-btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    background: #ef4444;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.logout-btn:hover {
    background: #dc2626;
    transform: scale(1.05);
}